body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

header, footer {
    margin: 0 auto;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

header {
    grid-template-columns: 150px 1fr;
}

main {
    margin: 1rem auto;
    background-color: rgba(128, 255, 0, 0.192);
}

footer {
    grid-template-columns: 1fr 200px;
}

footer img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

h1 {
    font-size: 1rem;
    text-shadow: 
               -1px -1px 0px rgba(10, 247, 136), 
               -1px 1px 0px rgba(10, 247, 136),      
                1px -1px 0px rgba(10, 247, 136),    
                1px 0px 0px rgba(10, 247, 136);
    font-weight: 1000;
    position: absolute;
    top: 250px;
    left: 380px;
    z-index: 1;
}

h2 {
    color: rgb(0, 0, 0);
    display: block;
    padding: 1rem;
    background-color: rgb(28, 240, 255);
}

p {
    color: rgba(0, 0, 0);
}

.mainnav {
    list-style-type: none;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

.mainnav li {
    flex: 1 1 auto;
}

.mainnav a {
    display: block;
    padding: 1rem;
    text-decoration-line: none;
    background-color: rgba(10, 247, 136);
    font-weight: 900;
    font-size: 1.3rem;
    font-variant-caps: all-petite-caps;
    color: rgb(5, 2, 2);
}

.mainnav a:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(8, 240, 248);
}
/*Class Selectors*/
.page {
    width: 760px;
    margin: 0 auto;
}

.banner {
    text-align: center;
}

.background img {
    height: auto;
    width: auto;
    max-width: 280px;
    max-height: 280px;
    position: absolute;
    top: 200px;
    left: 350px;
    align-content: center;
    opacity: 80%;
}

.banner P {
    display: block;
    padding: 0.5rem auto;
    border-radius: 20px auto;
    font-size: 1rem;
    text-shadow: 
               -1px -1px 0px rgba(10, 247, 136), 
               -1px 1px 0px rgba(10, 247, 136),      
                1px -1px 0px rgba(10, 247, 136),    
                1px 0px 0px rgba(10, 247, 136);
    font-weight: 1000;
    background-color: rgba(8, 240, 248);
    position: absolute;
    top: 280px;
    left: 430px;
    z-index: 1;
}
.banner p:hover {
    transform: scale(1.4);

}
.itens {
    margin: 0 auto;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.itens p {
    display: flex;
    text-align: center;
    float: left;
    line-height: 35px;
}

.itens img {
    box-shadow: 0 0 30px rgba(43, 41, 41);
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    float: right;
    margin-left: 1rem;
}

.logo {
    justify-content: center;
}