body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header, footer {
    margin: 0 auto;
    padding: 0,5rem;
    border: solid chartreuse;
    background-color: rgba(172, 187, 255, 0.733);
    display: grid;
    align-items: center;
    justify-content: center;
}

header {
    grid-template-columns: 200px 1fr;
}

main {
    margin: 1rem auto;
    background-color: rgba(128, 255, 0, 0.192);
    
}

footer {
    grid-template-columns: 1fr 200px;
}

h1 {
    color: rgb(10, 247, 136);
    font-size: 2.2rem;
}

h2 {
    color: rgb(28, 240, 255);
}

p {
    color: black;
}

/*Class Selectors*/
.page {
    width: 760px;
    margin: 0 auto;
}
