body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

main {
    margin: 0 auto;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}
nav {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(180, 184, 179);
}

header {
    display: grid;
}


header h2 {
    margin: 0 auto;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

main img {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

/*Class Selectors*/
.page {
    width: 760px;
    margin: 1rem auto;
    background-color: rgb(206, 206, 206);
}

.wireframes img {
    width: auto;
    height: auto;
    max-width: 400px;
    max-width: 400px;
}

.wireframes img:hover{
    transform: scale(2);
    box-shadow: 0 0 30px rgba(43, 41, 41);

}