body {
    background: linear-gradient(to right, #68bbff, #eef2f3);
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    
}

main, .contentsabout {
    margin: 0 auto;
    padding: 0.5rem; 
    align-items: center;
    justify-content: center;

}

header, footer {
    margin: 0 auto;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 760px;
    display: grid;
}

header {
    grid-template-columns: 150px 1fr;
}

footer {
    grid-template-columns: 1fr 200px;
    height: 100px;
}

footer img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

input {
    color: rgb(236,36,140);
}
button {
    background-color: rgb(236,36,140);
    border-color: black;
    border-radius: 1rem;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-family: monospace;
    font-weight: 800;
    transition-duration: 0.6s;
}

button:hover {
    background-color: rgb(195, 252, 252);
    border-width: 0.2rem;
}

ul {
    list-style-type: none;
}

h3 {
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
}
.search, .seemore a{
    text-align: center;
    padding: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration-line: none;
    font-size: 20px;    
}
a:focus {
    color: rgb(236,36,140);
}
.mainnav {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

.mainnav li {
    flex: 1 1 auto;
}

.mainnav a {
    display: block;
    padding: 1rem;
    text-decoration-line: none;
    background-color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.3rem;
    font-variant-caps: all-petite-caps;
    color: rgb(255, 255, 255);
}

.mainnav a:hover {
    background-color: rgb(236,36,140);;
}

/*Class Selectors*/
.page {
    width: 900px;
    margin: 1rem auto;
    
}

.banner, .catchingbox {
    display: block;
    background-color: rgb(0, 255, 255);
    padding: 2rem;
    width: 900px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem;
}
.banner {
    position: relative;
    height: 300px;
    display: grid;
    grid-template-columns: 300px 1fr;
}
.buttonsbanner {
    grid-column: 2/3;
    display: flex;
}
.businesscardbutton:hover, .clothtagbutton:hover, .thankcardbutton:hover {
    transform: scale(1.2);

}


.infobox {
    display: block;
    width: 200px;
    height: 260px;
    background-color: black;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 15px;
}

.infobox p,h1{
   color: white;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    width: 760px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem;
}

.catchingbox {
    display: grid;
    grid-template-columns: 1fr 300px;
    
}

.catchingbox p,h2, .contentsabout{
    grid-column: 1/2;
    text-align: center;  
}
.contentsabout img {
    height: 200px;
}
.catchingbox img {
    grid-row: 1/3;
    grid-column: 2/3;
}

.contentsearch {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr ;
    grid-gap: 1rem;
}

.search-filters {
    grid-column: 1/2;
    background-color: rgb(0, 255, 255);
    width: 250px;
    padding: 1rem;
    border-radius: 1rem;
}

.products {
    grid-column: 3/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
